<template>
  <div>
    <header class="bg-white shadow-sm">
      <nav class="constainer mx-auto p-4 flex justify-between items-center">
        <NuxtLink to="/" class="font-bold">Nuxt Dojo</NuxtLink>
        <ul class="flex gap-4">
          <li><NuxtLink to="/">Home</NuxtLink></li>
          <li><NuxtLink to="/about">About</NuxtLink></li>
          <li><NuxtLink to="/products" class="btn">Products</NuxtLink></li>
        </ul>
      </nav>
    </header>

    <div class="container mx-auto p-4">
      <slot />
    </div>
  </div>  
</template>

<style scoped>
  .router-link-exact-active {
    color: #12b488;
  }
</style>