<template>
  <div>
    <h2>Welcome to Nuxt Dojo</h2>
    <p>Learn Nuxt.js by building a simple e-commerce site.</p>
    <p>Click on the links above to navigate through the site.</p>
    <p>Happy coding!</p>
  </div>  
</template>

<script setup>
</script>

<style scoped>
  h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }

  p {
    margin: 20px 0;
  }
</style>